@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
.button-border-flow {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 1.5rem;
}

.button-border-flow::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: linear-gradient(270deg, #465697, #94a9e8, #464889, #465697);
  background-size: 600% 600%;
  z-index: -1;
  border-radius: 1.5rem;
  animation: animateBorderFlow 6s linear infinite;
  animation-delay: 3s; /* ⏱️ Delay the animation start */
}

@keyframes animateBorderFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
